PLASMO_PUBLIC_SUPABASE_URL=https://eeznaeqyevbghhnmixdb.supabase.co
PLASMO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlem5hZXF5ZXZiZ2hobm1peGRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMjEzNDcsImV4cCI6MjA4ODY5NzM0N30.yms2s2bVsbs4h_5VuIltgT17QUYbyaEO7x_m7UKAGT4
PLASMO_PUBLIC_API_BASE_URL=http://localhost:3000/api   # or your deployed backend