# Dependencies
node_modules/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# Environment secrets
.env
# Environment files
.env
.env.local
.env.*.local
.env.example