PORT=3000
GEMINI_API_KEY=AIzaSyBsWXMVvqeTA5eHpfzAKThFpIXHqOepomA
SUPABASE_URL=https://eeznaeqyevbghhnmixdb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlem5hZXF5ZXZiZ2hobm1peGRiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzEyMTM0NywiZXhwIjoyMDg4Njk3MzQ3fQ.PK1P9z4Jxd7oU9QIXJOo-LsXmwlHrBmu3Wnw2OicZSk
CORS_ORIGIN=chrome-extension://yourextensionid   # get this after first build